<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="API Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="API_BASE_URL" value="http://localhost:8090"/>
        <env name="ADMIN_USERNAME" value="je_suis_admin"/>
        <env name="ADMIN_PASSWORD" value="liamambre1013"/>
    </php>
</phpunit>